@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: var(--space-2);
  font-family: Helvetica, sans-serif;
}

#container {
  border: 1px solid var(--color-neutral-500);
}

.default_background {
  background-color: var(--color-neutral-500);
}

#paint_zone {
  background-color: var(--color-neutral-0);
}
